@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600&display=swap");
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.pb-0 {
  padding-bottom: 0;
}
body {
  background: rgba(47, 52, 58, 0.712);
}
a:hover {
  text-decoration: none;
}
nav{
  background: #1d2333;
  border-bottom: 1px solid #9aa4bf;
}
nav.fixed-top {
  background: #1d2333;
  z-index: 1040;
  padding-bottom: 7px;
  border-bottom: 1px solid #9aa4bf;
}
 
nav.fixed-top .logo a img {
  margin-top: 7px;
}
.logo a img {
  margin-left: 20px;
  margin-top: 7px;
}

.left_body {
  padding-top: 80px;
  height: 100%;
  position: fixed;
  z-index: 1030;
  top: 0px;
  width: 60px;
}
.left_sidebar {
  padding-top: 10px;
}

.post_body,
.left_sidebar {
  background: #1d2333;
  height: 100%;
}
.post_body {
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
}
.right_body {
  padding-top: 80px;
  height: 100%;
  position: fixed;
  z-index: 1030;
  top: 80px;
  right: 0;
  padding-top: 10px;
  background: #1d2333;
}
.navbar-nav li a{
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin: 0 15px;
}
.users{
  position: relative;
 
}
.users li{
  display: inline-block;
  margin: 0 10px;
}
.users li {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 5px 10px;
}
.popup{
  position: absolute;
  color: #fff;
   left: 5%;
   right: 5%;
   top: 140px;
   background-color: #2f3749;
  z-index: 1;
  display: none;
  animation: fadeInDown .5s;
  border-radius: 10px;
  padding: 20px 25px;
} 
.block{
  display: block;
  
}  
.popup h4{
  font-size: 20px;
}
.cross{
  float: right;
}
.popup_heading{
  margin-top: 110px;
}
 .popup_body{
   margin-top: 50px;
 }
.form_login form{
  margin-top: 20px;
}
.form_login input{
  width: 200px;
  margin-bottom: 20px;
 
}
#check,#submit{
  width: inherit;
}
#submit{
  width: 100px;
}
.form_login p{
  font-size: 12px;
}
/*about*/
#main-body{
  margin-top: 30px;
}

.left-div {
  margin-top: 0px;
}
.left-div-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 10px;
  padding-bottom: 22px;
  background: #1d2333;
  margin-bottom: 20px;
}
.left-div-content h6 {
  font-size: 18px;
  color: #fff;
  margin-left: 15px;
  margin-top: 30px;
}
.edit_icon {
  float: right;
  margin-top: -30px;
  margin-right: 20px;
}
.edit_icon a {
  font-size: 14px;
  color: #fff;
}
.left-div-content p.text {
  font-size: 13px;
  color: #fff;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 40px;
}
.right-div-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 10px;
  padding-bottom: 22px;
  background: #1d2333;
  margin-bottom: 20px;
}
.right-div-content h6 {
  font-size: 18px;
  color: #fff;
  margin-left: 15px;
  margin-top: 30px;
  font-weight: 600;
}

/*timeline*/

.post-content {
  padding: 20px;
}
.post_head {
  display: flex;
}
.post_man {
  width: 8%;
}
.man_info {
  margin-top: 8px;
  width: 30%;
}
.post_setting {
  width: 65%;
  text-align: right;
  margin-top: 14px;
}
.post_setting a {
  color: #fff;
}
.man_info p:nth-child(1) {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}
.man_info p:nth-child(2) {
  color: #9aa4bf;
  margin-top: -14px;
  font-size: 12px;
}

.post-body img {
  border-radius: 10px;
}
.post-body p {
  font-size: 14px;
  color: #fff;
}
.react {
  display: flex;
}
.react_icon {
  width: 33.33%;
  color: #9aa4bf;
}
.post_footer {
  border-top: 1px solid #9aa4bf;
  background: #2f3749;
  padding: 20px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/*=======================================*/
.logo a img {
  width: 200px;
  height: 54px;
}
.left-div-content p {
  color: #fff;
  font-size: 12px;
  text-align: justify;
  margin-top: 2px;
}
.message_div{
  background: #1d2333;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.message_div h4{
font-size: 30px;
}
.blog_content {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 56px;
  background-color: #2f3749;
}
.left-div-content h6{
  margin-bottom: 30px;
}
.pagination{
  display: inherit;
}
.pagination li{
  display: inline-block;

}
.page-link {
    background: #2f3749!important;
}
.pagination li a{
  display: inline-block;
 color: #fff;
}